<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.Test01_GET</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<<<<<<< Updated upstream
<td>test03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test01</td>
=======
<td>test02_put</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test01_post</td>
>>>>>>> Stashed changes
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test04_patch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test03_patch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
