<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< Updated upstream
<tr bgcolor="75e7fd">  <td>22/03/16 21:27:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01_GET.test01()[pri:0, instance:tests.Test01_GET@16ec5519]">test01</td> 
  <td>main@1047087935</td>   <td></td> </tr>
=======
<tr bgcolor="81a7ac">  <td>22/03/18 10:33:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test02_POST.test04_patch()[pri:0, instance:tests.Test02_POST@28f2a10f]">test04_patch</td> 
  <td>main@364597300</td>   <td></td> </tr>
>>>>>>> Stashed changes
</table>
