<h2>Methods that were not run</h2><table>
<<<<<<< Updated upstream
<tr><td>tests.Test01_GET.test02</td></tr>
<tr><td>tests.Test01_GET.test03</td></tr>
=======
<tr><td>tests.Test02_POST.test02_put</td></tr>
<tr><td>tests.Test02_POST.test01_post</td></tr>
<tr><td>tests.Test02_POST.test03_patch</td></tr>
>>>>>>> Stashed changes
</table>