<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cdc6d">  <td>22/03/16 16:43:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01_GET.test01()[pri:0, instance:tests.Test01_GET@5fbdfdcf]">test01</td> 
  <td>main@1191654595</td>   <td></td> </tr>
<tr bgcolor="98cf9b">  <td>22/03/16 16:43:11</td>   <td>5291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test02_Get.test_01()[pri:0, instance:tests.Test02_Get@2b91004a]">test_01</td> 
  <td>main@1191654595</td>   <td></td> </tr>
<tr bgcolor="7cdc6d">  <td>22/03/16 16:43:09</td>   <td>3016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01_GET.test02()[pri:0, instance:tests.Test01_GET@5fbdfdcf]">test02</td> 
  <td>main@1191654595</td>   <td></td> </tr>
<tr bgcolor="7cdc6d">  <td>22/03/16 16:43:09</td>   <td>3548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01_GET.test03()[pri:0, instance:tests.Test01_GET@5fbdfdcf]">test03</td> 
  <td>main@1191654595</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>22/03/16 16:43:13</td>   <td>7078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test02_POST.test01_post()[pri:0, instance:tests.Test02_POST@20ccf40b]">test01_post</td> 
  <td>main@1191654595</td>   <td></td> </tr>
</table>
